.div_header {}

.div_sub_header {
    position: absolute;
    display: block;
    left: 13%;
}

.h2 {
    text-align: right;
}

img {
    position: absolute;
    display: flex;
    width: 12%;
    
}
.divContDos{
    position: absolute;
    display: block;
   top: 250px;
    width: 50%
}
.img2{
  
   width: 80%;
    top: 0%;
    left: 110%;
    
    
}
