body {
    background-image: url('../img/backgraud.jpg');
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1;
    color: #222222;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.row {
    width: 1000px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
}

.row. {
    padding: 0;
}

.logo {
    margin-top: -60px;
    /*position of banner */
    /*I Make the menu stay ahead*/
    position: relative;
    z-index: -1000;
}
