<style>@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
</style><style>@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz');
</style>* {
    box-sizing: border-box
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-image: url('../img/backgraud2.jpg');
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    <!--MoreSpaceinBetweenDifferentCharacters-->letter-spacing: 1.5px;
}


/*styles of the headers*/

.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    /*To stand at par */
    justify-content: space-between;
    /*position of the icon in the rigth*/
}

.logo,
.icon-menu {
    margin: 5px;
    /*So that the title in line with the icon*/
    color: skyblue;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 35px;
    /*size of the icon menu*/
    background: #81DAF5;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    /*event for */
}

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
    /*animation when I press the icon menu*/
}

.menu_link {
    display: block;
    padding: 15px;
    /*espacion de cada linea del menu*/
    background: #81DAF5;
    text-decoration: none;
    /*Remove underscore from text*/
    color: #fff;
    /*color of the text*/
}

.menu_link:hover,
.select {
    /* Mouse event, when you hover the mouse over the menu it takes a white color */
    background: #fff;
    color: #81DAF5;
}


/*evento of the transition on the little menu*/

.mostrar {
    left: 0;
}


/*styles of the banner*/

.banner {
    margin-top: -60px;
    /*position of banner */
    /*I Make the menu stay ahead*/
    position: relative;
    z-index: -1000;
}

.fondo {
    width: 100%;
    /* en porcentaje (el highlight del foro lo trasforma) */
    height: 100%;
    top: 0;
    left: 0;
}

.banner .contenedor {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    /*position in x and y*/
    width: 100%;
    color: deepskyblue;
    text-align: center;
}

.banner__txt {
    display: none;
}

.gallery .conteint {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    /*position in x and y*/
    width: 100%;
    color: deepskyblue;
    text-align: center;
}

.image {
    transform: translate(70%)
}

.gallery .conteint .btnAdelante {
    position: absolute;
    top: 50%;
    left: 30%;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.gallery .conteint .btnAtras {
    position: absolute;
    top: 50%;
    left: 67.5%;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.video {
    display: block;
    position: absolute;
    top: 195%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
}

.cont {
    position: fixed;
    top: 6%;
    left: 43%;
}

.text2{
     position:fixed;
    top: 40%;
    left: 43%;
}

